--swiftversion 6.2
--indent 4
--indentcase false
--ifdef no-indent
--linebreaks lf
--maxwidth 120
--self insert
--extensionacl on-declarations
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen same-line
--trimwhitespace always
--emptybraces no-space
--nospaceoperators ...,..<
--importgrouping testable-bottom
--stripunusedargs closure-only
--header ignore
--allman false
--exclude .build,.swiftpm,DerivedData,**/Generated
